body {
	text-align: center;
}
.container {
	width: 960px;
	display: inline-block;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	height: 500px;
}

.big-logo,
.big-developer-logo {
	width: 550px;
	height: 500px;
	display: inline-block;
	margin-right: 50px;
	background-repeat: no-repeat;
	background-position: center;
}
.big-developer-logo {
	background-image: url('../images/developer-icon.png');
}

.big-logo {
	background-image: url('../images/mis-logo-big.png');
	background-size: 80%;
}

.login-box {
	width: 350px;
	height: 500px;
	float: right;
	margin: 0;
	padding: 0;
	position: relative;
}

.inner-box {
	width: 330px;
	background: #FFF;
	margin: auto;
	padding: 10px;
	height: 400px;
	display: block;
	box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.4);

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
