/*Image holder of upload_image*/
#dvpreview
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
	max-width: 190px;
	max-height: 290px;
	margin:5px;
	background-color:#fff;
	display: none;
	border:thick #0073b7;
}
.image_holder
{
	border-top-color:#00c0ef;
	background-color:rgba(255,255,255,1);
  	max-width:200px;
	max-height:350px;
	border-top:thick solid #0073b7;
	padding:10px 5px 5px 5px;
	border-radius:4px;
}
.image_holder input
{
	background-color:#0073b7;
	width:93px;
	 visibility: hidden;
  height:0px;
  width: 0px;
}
#imageDrop{      
  background:#0073b7;
  width:190px;
  height:40px;
  color:rgba(255,255,255,1);
  font-size:18px;
  border-radius:4px;
}

